/* Estilos generales para el contenedor principal */
div {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para el encabezado */
header {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el botón de inicio de sesión */
button {
  background-color: #76b1f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}
.posicionButton {
  display: flex;
  justify-content: end;
}

button:hover {
  background-color: #4f96e0;
}

/* Estilos para el pie de página */
footer {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  text-align: center;
}

/* Estilos para el componente Post */
.post {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  background-color: #fff;
}

.post img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.post h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post p {
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #e2cdcd;
}
